#menu {
    background-color: #111827;
    left: 0;
    width: 300px;
    height: 100%;
    position: absolute;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .items {
    margin-top: 40px;
}

#menu .items li {
    list-style: none;
    padding: 15px 0 15px 30px;
}

#menu .items li:hover {
    background: #253047;
}

#menu .items .dropdown li a {
    margin-bottom: 15px;
}

#menu .items li:hover {
    /* background: #253047; */
    cursor: pointer;
}
#menu .items li:nth-child(1){
    border-left: 4px solid #fff;
}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    left: 0;
    padding: 0 10px 0 10px;
}

/* Style the dropdown menu */

.items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.items li {
    position: relative;
}
  
.items li a {
    display: block;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    color: #333;
}

.items .dropdown-content {
    display: none;
    width: 300px;
    position: relative;
    top: 100%;
    left: -32px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    margin-bottom: 0;
}
  
.items .dropdown:hover .dropdown-content {
    display: block;
}

.dropping {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    text-align: left;
}
  
.items .dropdown-content a {
    display: block;
}

.items .dropdown-content:hover {
    background-color: #f1f1f1;
}

#interface {
    width: calc(100% - 300px);
    left: 300px;
    position: absolute;
    background-color: #f3f4f6;
    height: 100%;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #111827;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#interface .navigation .profile p{
    color: #111827;
    font-weight: 300;
    margin-right: 10px;
}

.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.values {
    padding: 30px 0 0 30px;
    display: flex;
    justify-content: flex-start;
}

.values .val-box {
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    margin-right: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val-box:nth-child(1) i {
    background-color: #7b74ec;
}

.values .val-box:nth-child(2) i {
    background-color: #f7b924;
}

.values .val-box:nth-child(3) i {
    background-color: #f74e4e;
}

.values .val-box:nth-child(4) i {
    background-color: #e45d99;
}
.values .val-box:nth-child(5) i {
    background-color: #4e73df;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 20px;
}

.values .val-box h3 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: #828997;
}

.board {
    width: 95.7%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board h5 {
    font-weight: 600;
    font-size: 18px;
}

.board p {
    font-weight: 400;
    font-size: 18px;
    color: #787d8d;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

tbody tr td h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
}

.activee p{
    background: #d7fada;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a  {
    text-decoration: none;
    font-size: 18px;
    color: #554cd1;
    font-weight: 600;
    text-align: end;
}

.edit input {
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #f74e4e;
    font-weight: 600;
    text-align: end;
    border: none;
    background: none;
    cursor: pointer;
}

.prod-add form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.prod-add textarea {
    display: block;
    min-width: 100%;
    max-width: 100%;
    max-height: 40%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
}

.prod-add input[type="text"],
.prod-add input[type="number"],
.prod-add input[type="file"],
.prod-add input[type="email"],
.prod-add select {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

.prod-add input[type="submit"] {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.prod-add input[type="submit"]:hover {
    background-color: #0069d9;
  }

.prod-add select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/arrow-down-512.png') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
    padding-right: 40px;
}

.type-add input[type="submit"] {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.type-add input[type="submit"]:hover {
    background-color: #0069d9;
}

.type-add form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.type-add input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

.message {
    padding: 30px 0 0 30px;
}

.mesg {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}