.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.profile__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile__name {
  margin-right: 20px;
}

.profile__contact {
  margin-bottom: 10px;
}

input[value="Rediģēt?"], [value="Atstāt?"] {
  width: 30%;
  height: 40px;
  background-color: #f23c5a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[value="Rediģēt?"]:hover {
  background-color: #e12d47;
}

input[value="Saglabāt"] {
  margin-top: 1rem;
  width: 30%;
  height: 40px;
  background-color: #35e300;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[value="Saglabāt"]:hover {
  background-color: #179717;
}

.logout-link {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.logout-link:hover {
  background-color: #007bff;
  color: #fff;
}
form {
  max-width: 600px;
  margin: 0 auto;
}

.profile__personal-info {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile__personal-info h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.profile__personal-info p {
  margin: 0;
  margin-bottom: 10px;
}

.profile__personal-info input[type="text"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 5px;
}

.profile__personal-info input[type="hidden"] {
  display: none;
}
#submitButton[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}